[submodule "ThirdParty/py_2d_filter_banks"]
	path = ThirdParty/py_2d_filter_banks
	url = git@github.com:teracamo/py_2d_filter_banks.git
[submodule "AverageSurfaceDistance"]
	path = surface-distance
	url = git@github.com:deepmind/surface-distance.git
