*.pyc
*.c
*.sh
*.so
*egg-info
Backup
*.pt
.idea
*build
Configs
/.SynologyWorkingDirectory/
*DCM
Doc/html
Doc/doctrees
pytorch_medical_imaging.egg-info

*.pyc
*.tar.gz
__pycache__

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and local files
*.log
logs/
*.sqlite3

# Docker
docker-compose.override.yml

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini